<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>total</key>
				<string>13</string>
				<key>icon</key>
				<string>001</string>
				<key>name</key>
				<string>汪汪汪</string>
				<key>time</key>
				<string>2016年01月18号17时38</string>
				<key>money</key>
				<string>0.30</string>
			</dict>
			<dict>
				<key>total</key>
				<string>14</string>
				<key>icon</key>
				<string>003</string>
				<key>time</key>
				<string>2016-8-9</string>
				<key>name</key>
				<string>好友3</string>
				<key>money</key>
				<integer>23</integer>
			</dict>
		</array>
		<key>date</key>
		<string>2016年01月</string>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>total</key>
				<string>15</string>
				<key>icon</key>
				<string>012</string>
				<key>time</key>
				<string>啊李了哈啊啥；房价</string>
				<key>name</key>
				<string>好友12</string>
				<key>money</key>
				<string>1</string>
			</dict>
		</array>
		<key>date</key>
		<string>2016年02月</string>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>total</key>
				<string>12</string>
				<key>icon</key>
				<string>013</string>
				<key>time</key>
				<string>阿隆索罚酒红拉风</string>
				<key>name</key>
				<string>好友13</string>
				<key>money</key>
				<string>0</string>
			</dict>
			<dict>
				<key>total</key>
				<string>9</string>
				<key>icon</key>
				<string>019</string>
				<key>time</key>
				<string>撒发生纠纷哈了就睡了</string>
				<key>name</key>
				<string>好友19</string>
				<key>money</key>
				<string>0</string>
			</dict>
			<dict>
				<key>total</key>
				<string>0.6</string>
				<key>icon</key>
				<string>020</string>
				<key>time</key>
				<string>啊啥；反；阿克苏</string>
				<key>name</key>
				<string>好友20</string>
				<key>money</key>
				<string>0</string>
			</dict>
		</array>
		<key>date</key>
		<string>2016年03月</string>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>total</key>
				<string>45</string>
				<key>icon</key>
				<string>030</string>
				<key>time</key>
				<string>啊手机发哈简历</string>
				<key>name</key>
				<string>好友30</string>
				<key>money</key>
				<string>0</string>
			</dict>
			<dict>
				<key>total</key>
				<string>56</string>
				<key>icon</key>
				<string>037</string>
				<key>time</key>
				<string>啊还是短发哈是发神经了哈</string>
				<key>name</key>
				<string>好友37</string>
				<key>money</key>
				<string>0</string>
			</dict>
			<dict>
				<key>total</key>
				<string>15</string>
				<key>icon</key>
				<string>038</string>
				<key>time</key>
				<string>就啊卡斯蒂略话费立即啊是离开</string>
				<key>name</key>
				<string>好友38</string>
				<key>money</key>
				<string>0</string>
			</dict>
		</array>
		<key>date</key>
		<string>2016年04月</string>
		<key>online</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
